<h1>sign up form</h1>

<form method="post" action="/register">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>submit</button>
</form>
