<h1>You fell in love with: 5+5=  <%= thingVar %> </h1>

<% if(thingVar.toLowerCase() === "nepe"){ %>
  <p>Bad Choice that is not healthy</p>
<% } else { %>
  <p>Mentiraa</p>
<% } %>
<p>This is the ejs file</p>
